REACT_APP_SUPABASE_URL=https://qdkaekxcwyuhvyidhhxv.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFka2Fla3hjd3l1aHZ5aWRoaHh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MzE2MjksImV4cCI6MjA5MjUwNzYyOX0.YDAykmLoDqRVXzfSu-3WqH1-paaRxB8hYF732XkvIFI
SUPABASE_DATABASE_PASSWORD=VmKTdHgj7UO8uhZy